.page {
	position: relative;
}

.promo {
	width: 100%;
	max-width: 100%;
	position: relative;

	.promoSlider {
		width: 100%;
		max-width: 100%;
	}

	.promoSlide {
		z-index: 1;
		min-height: 550px;
		padding-top: 130px;
		position: relative;
		padding-bottom: 200px;


		&.slide-one {
			background: url("../img/slide_01.jpg") 50% 0 no-repeat;
			background-size: cover;
		}

		&.slide-two {
			background: url("../img/slide_02.jpg") 50% 0 no-repeat;
			background-size: cover;
		}
	}

	.swiper-pagination {
		left: 15px;
		right: 15px;
		font-size: 0;
		line-height: 0;
		text-align: right;
		bottom: 30px;
	}

	.swiper-pagination-container {
		position: relative;
	}

	.swiper-pagination-bullet {
		width: 20px;
		height: 18px;
		opacity: 1;
		background: url("../img/slider__nav.png") 0 0 no-repeat;
	}

	.swiper-pagination-bullet-active {
		background: url("../img/slider__nav.png") -20px 0 no-repeat;
	}

	@media (min-width: $screen-lg-min) {

		.promoSlide {
			padding-top: 260px;
			padding-bottom: 40px;
		}
	}

	@media (min-width: $screen-xl-min) {

	}
}

.promoEvent {
	padding: 20px 0;
	background: url("../img/header__bg.png");

	&__text {
		color: #fff;
		text-align: center;
		font-size: 1rem;
		text-align: center;
		line-height: 1.25rem;
		margin-bottom: 20px;

		&_one {
			margin-bottom: 5px;
		}

		&_two {
			font-size: 1.5rem;
			line-height: 1.75rem;
			color: $color-blue;
			margin-bottom: 5px;
			font-family: $font-head;
		}

		&_three {

		}
	}

	&__date {
		color: $color-blue;
		font-size: 2.75rem;
		line-height: 2.75rem;
		margin-bottom: 20px;
		text-align: center;
		font-family: $font-head;

		span {
			padding: 0 5px;
			display: inline-block;
		}
	}

	&__action {
		text-align: center;
	}

	@media (min-width: $screen-lg-min) {

		&__row {
			@include flexbox();
			@include justify-content(space-around)
		}

		&__text {
			text-align: left;
			margin-bottom: 0;
		}

		&__date {
			margin-bottom: 0;

			span {
				display: block;
			}
		}

		&__action {
			padding-top: 20px;
		}
	}

	@media (min-width: $screen-xl-min) {

	}
}

.slide {
	position: relative;

	&:before {
		z-index: 1;
		width: 2px;
		height: 76px;
		top: 100%;
		left: 50%;
		content: '';
		margin: 0 0 0 -1px;
		position: absolute;
		background: $color-blue;
	}

	.slide-border {
		padding: 15px;
		position: relative;

		.slide-border-right {
			right: 0;
			top: 24px;
			bottom: 24px;
			position: absolute;
			border-right: 2px solid $color-blue;

			&:before {
				z-index: 10;
				right: -6px;
				top: -12px;
				content: '';
				width: 34px;
				height: 2px;
				display: block;
				position: absolute;
				background: $color-blue;
				@include rotate(45deg);
				@include border-radius(1px);
			}

			&:after {
				z-index: 10;
				right: -6px;
				bottom: -12px;
				content: '';
				width: 34px;
				height: 2px;
				display: block;
				position: absolute;
				background: $color-blue;
				@include rotate(-45deg);
				@include border-radius(1px);
			}
		}

		.slide-border-top-bottom {
			top: 0;
			left: 0;
			bottom: 0;
			right: 24px;
			position: absolute;
			border-left: 2px solid $color-blue;
			border-top: 2px solid $color-blue;
			border-bottom: 2px solid $color-blue;
		}

		.angle-left-top {
			left: -1px;
			top: -1px;
			width: 48px;
			height: 38px;
			display: block;
			position: absolute;
			border-top: 4px solid $color-blue;
			border-left: 4px solid $color-blue;
		}

		.angle-left-bottom {
			left: -1px;
			bottom: -1px;
			width: 48px;
			height: 38px;
			display: block;
			position: absolute;
			border-left: 4px solid $color-blue;
			border-bottom: 4px solid $color-blue;
		}
	}

	&__content {
		position: relative;

		&:before {
			right: 0;
			top: 20px;
			z-index: 1;
			bottom: 20px;
			content: '';
			width: 20px;
			position: absolute;
			background: rgba(0,0,0, 0.4);
		}

		&:after {
			top: 0;
			left: 0;
			bottom: 0;
			z-index: 1;
			content: '';
			right: 20px;
			display: block;
			position: absolute;
			background: rgba(0,0,0, 0.4);
		}

		.slide-content-wrap {
			z-index: 10;
			padding: 31px 15px;
			position: relative;

			&:before {
				top: 0;
				right: 0;
				content: '';
				position: absolute;
				border: 10px solid transparent;
				border-bottom: 10px solid #000;
				border-left: 10px solid #000;
				opacity: 0.4;
			}


			&:after {
				right: 0;
				bottom: 0;
				content: '';
				position: absolute;
				border: 10px solid transparent;
				border-left: 10px solid #000;
				border-top: 10px solid #000;
				opacity: 0.4;
			}
		}
	}

	&__heading {
		font-weight: 400;
		font-size: 1.75rem;
		color: $color-blue;
		line-height: 1.875rem;
		margin-bottom: 30px;
		font-family: $font-head;

		strong {
			display: block;
			font-weight: 400;
			text-transform: uppercase;
		}

		span {

		}
	}

	&__text {
		color: #fff;
		font-size: 1.25rem;
	}

	&__bottom {
		z-index: 10;
		top: 100%;
		color: #fff;
		right: 42px;
		width: 150px;
		height: 18px;
		display: block;
		margin-top: -1px;
		position: absolute;
		padding: 5px 0 0 8px;
		background: $color-blue;

		&:before {
			top: 0;
			left: 100%;
			content: '';
			display: block;
			position: absolute;
			border: 9px solid transparent;
			border-left: 9px solid $color-blue;
			border-top: 9px solid $color-blue;
		}

		span {
			width: 120px;
			height: 8px;
			display: block;
			position: relative;
			background: url("../img/slide__bottom_line.png") 0 0 no-repeat;
		}

		&_line {
			top:0;
			left: 0;
			width: 1px;
			height: 100%;
			display: block;
			background: #fff;
			position: absolute;

			&:before {
				top: 0;
				left: 100%;
				content: '';
				display: block;
				position: absolute;
				border: 4px solid transparent;
				border-left: 4px solid #fff;
				border-top: 4px solid #fff;
			}
		}
	}

	&__left {
		left: 0;
		bottom: 0;
		width: 30px;
		height: 169px;
		display: none;
		position: absolute;

		span {
			left: 0;
			width: 27px;
			height: 77px;
			display: block;
			position: absolute;
			background: url("../img/slide_left_line.png") 0 0 no-repeat;

		}

		&_one {
			bottom: 94px;
		}

		&_two {
			bottom: 48px;
		}

		&_three {
			bottom: 0;
		}
	}

	.link {
		left: 50%;
		width: 30px;
		height: 18px;
		bottom: -100px;
		display: block;
		margin-left: -15px;
		position: absolute;

		&:after,
		&:before {
			top: 0;
			left: 0;
			z-index: 10;
			content: '';
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			border: 2px solid $color-blue;
			border-top: none;
			border-bottom: none;
		}

		&:after {
			@include rotate(60deg);
		}

		&:before {
			@include rotate(-60deg);
		}

		> i {
			top: 0;
			left: 0;
			z-index: 10;
			content: '';
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			border: 2px solid $color-blue;
			border-top: none;
			border-bottom: none;
		}

		&__point {
			top: 50%;
			left: 50%;
			width: 16px;
			height: 10px;
			bottom: -100px;
			display: block;
			position: absolute;
			margin: -5px 0 0 -8px;
			background: $color-blue;

			&:after,
			&:before {
				top: 0;
				left: 0;
				z-index: 10;
				content: '';
				width: 100%;
				height: 100%;
				display: block;
				position: absolute;
				background: $color-blue;
			}

			&:after {
				@include rotate(60deg);
			}

			&:before {
				@include rotate(-60deg);
			}
		}

		&__hover {
			top: 50%;
			left: 50%;
			z-index: 2;
			content: '';
			width: 30px;
			height: 18px;
			display: block;
			position: absolute;
			margin: -9px 0 0 -15px;
			border-top: none;
			border-bottom: none;

			&:after,
			&:before {
				top: 0;
				left: 0;
				z-index: 10;
				content: '';
				width: 100%;
				height: 100%;
				display: block;
				position: absolute;
				border: 2px solid #fff;
				border-top: none;
				border-bottom: none;
			}

			&:after {
				@include rotate(60deg);
			}

			&:before {
				@include rotate(-60deg);
			}

			> i {
				top: 0;
				left: 0;
				z-index: 10;
				content: '';
				width: 100%;
				height: 100%;
				display: block;
				position: absolute;
				border: 2px solid #fff;
				border-top: none;
				border-bottom: none;
			}

			&.hover-one {
		//		width: 48px;
		//		height: 28px;
		//		margin: -14px 0 0 -24px;
			}

			&.hover-two {
		//		width: 64px;
		//		height: 38px;
		//		margin: -19px 0 0 -32px;
			}

			&.hover-three {
		//		width: 88px;
		//		height: 52px;
		//		margin: -26px 0 0 -44px;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		padding-left: 36px;

		.slide-border {

			&:before {
				top: 11px;
				z-index: 50;
				left: -18px;
				content: '';
				width: 119px;
				height: 101px;
				display: block;
				position: absolute;
				background: url("../img/icon_satellite.png") 0 0 no-repeat;
			}

			&:after {
				left: 0;
				bottom: 0;
				top: 118px;
				width: 2px;
				content: '';
				position: absolute;
				background: $color-blue;
			}

			.slide-border-top-bottom {
				border-left: transparent;

				&:before {
					top: -6px;
					left: -18px;
					width: 2px;
					height: 68px;
					content: '';
					display: block;
					position: absolute;
					background: $color-blue;
					@include rotate(30deg);
				}

				&:after {
					top: 52px;
					left: -18px;
					width: 2px;
					height: 69px;
					content: '';
					display: block;
					position: absolute;
					background: $color-blue;
					@include rotate(-30deg);
				}
			}

			.angle-left-top {
				border-left: none;

				&:before {
					top: -6px;
					left: -9px;
					width: 4px;
					height: 34px;
					content: '';
					display: block;
					position: absolute;
					background: $color-blue;
					@include rotate(30deg);
				}
			}
		}

		&__heading {
			padding-left: 85px;
			font-size: 2rem;
			line-height: 2.25rem;
		}

		&__left {
			display: block;
		}
	}

	@media (min-width: $screen-lg-min) {
		width: 735px;

		&:before {
			width: 105px;
			height: 2px;
			top: 50%;
			left: 100%;
			margin: -1px 0 0 0;
		}

		&__heading {
			font-size: 2.25rem;
			line-height: 2.5rem;
		}

		.link {
			bottom: 50%;
			left: 100%;
			margin-bottom: -9px;
			margin-left: 107px;
			@include rotate(90deg);
		}
	}
}

.about {
	padding: 50px 0;
	background: #fff;

	h2,
	.h2 {

	}

	h3,
	.h3 {
		text-align: center;
		margin-bottom: 2.5rem;
	}

	&__info {

	}

	&__programs {
		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;

		li {
			width: 200px;
			padding-top: 120px;
			text-align: center;
			position: relative;
			margin: 0 auto 35px auto;

			&:nth-child(1) {

				.about__programs_icon {
					background-position: 0 0;
				}
			}

			&:nth-child(2) {

				.about__programs_icon {
					background-position: -116px 0;
				}

				&:after {
					height: 75px;
				}
			}

			&:nth-child(3) {

				.about__programs_icon {
					background-position: -232px 0;
				}
			}
		}

		&_icon {
			top: 0;
			left: 50%;
			content: '';
			width: 116px;
			height: 99px;
			margin-left: -58px;
			position: absolute;
			background: url("../img/about__icons.png") no-repeat;
		}

		&_name {
			color: #000;
			position: relative;
			font-size: 1.125rem;
			line-height: 1.25rem;
			padding-bottom: 15px;
			font-family: $font-head;
			display: inline-block;
			border-bottom: 1px solid $color-blue;
		}
	}

	&__center {
		display: none;
	}

	&__items {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			max-width: 230px;
			font-size: 1.125rem;
			color: $color-blue;
			text-align: center;
			margin: 0 auto 30px auto;
			font-family: $font-head;
			text-transform: uppercase;


			small {
				font-size: 1rem;
				text-transform: lowercase;
			}
		}

		&_elem {
			position: relative;
			border: 1px solid $color-blue;
			background: url("../img/block__pattern.png") 0 0;

			&:after,
			&:before {
				top: -1px;
				width: 7px;
				height: 7px;
				content: '';
				z-index: 10;
				position: absolute;
				background: url("../img/block__angle.png") 0 0 no-repeat;
			}

			&:after {
				left: -1px;
			}

			&:before {
				right: -1px;
				@include rotate(90deg);
			}

			span {
				margin:  auto;
				display: inline-block;
			}
		}

		&_wrap {
			position: relative;
			padding: 10px 5px;
			width: 100%;
			height: 100%;
			min-height: 100px;
			@include flexbox();

			&:after,
			&:before {
				bottom: -1px;
				width: 7px;
				height: 7px;
				content: '';
				z-index: 10;
				position: absolute;
				background: url("../img/block__angle.png") 0 -7px no-repeat;
			}

			&:after {
				left: -1px;
			}

			&:before {
				right: -1px;
				@include rotate(-90deg);
			}
		}
	}

	@media (min-width: $screen-md-min) {

		p {
			text-align: justify;
		}

		&__programs {
			@include flexbox();
			@include justify-content(space-around);

			li {
				margin-bottom: 0;

				&:after {
					top: 100%;
					left: 50%;
					width: 1px;
					height: 35px;
					content: '';
					display: block;
					position: absolute;
					background: $color-blue;
				}

				&:first-child {

					&:before {
						left: 50%;
						height: 1px;
						bottom: -35px;
						width: 400px;
						content: '';
						display: block;
						position: absolute;
						background: $color-blue;
					}
				}

				&:last-child {

					&:before {
						right: 50%;
						height: 1px;
						bottom: -35px;
						width: 400px;
						content: '';
						display: block;
						position: absolute;
						background: $color-blue;
					}
				}
			}
		}

		&__center {
			height: 74px;
			display: block;
			position: relative;

			&_icon {
				top: 12px;
				left: 50%;
				width: 44px;
				height: 44px;
				display: block;
				margin-left: -22px;
				position: absolute;
			}

			.icon-one {
				top: 0;
				left: 0;
				width: 44px;
				height: 44px;
				position: absolute;

				.ico-svg {
					stroke-width: 2px;
					stroke: #1fadf1;
					fill: transparent;
				}
			}

			.icon-two {
				top: 11px;
				left: 50%;
				margin-left: -11px;
				width: 22px;
				height: 22px;
				position: absolute;

				.ico-svg {
					stroke-width: 2px;
					stroke: #1fadf1;
					fill: #1fadf1;
				}
			}
		}

		&__block {
			position: relative;
			border: 1px solid $color-blue;

			&:after,
			&:before {
				top: -1px;

				width: 6px;
				height: 6px;
				content: '';
				z-index: 10;
				position: absolute;
				background: url("../img/block__angle_white.png") 0 0 no-repeat;
			}

			&:after {
				left: -1px;
			}

			&:before {
				right: -1px;
				@include rotate(90deg);
			}

			&_wrap {
				padding: 15px 7px;
				position: relative;

				&:after,
				&:before {
					bottom: -1px;
					width: 6px;
					height: 6px;
					content: '';
					z-index: 10;
					position: absolute;
					background: url("../img/block__angle_white.png") 0 -6px no-repeat;
				}

				&:after {
					left: -1px;

				}


				&:before {
					right: -1px;
					@include rotate(90deg);
				}
			}
		}

		&__items {
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(space-around);

			li {
				width: 50%;
				margin: 0;
				padding: 8px 8px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		@include justify-content(space-between);
	}
}

// programs_block

.programs {
	padding-top: 40px;
	padding-bottom: 60px;
	background: url("../img/programs__bg.jpg") 50% 50% no-repeat;
	background-size: cover;

	h2,
	.h2 {
		color: $color-blue;
		text-align: center;
	}

	&__row {
		margin: 0 -10px;
	}

	@media (min-width: $screen-md-min) {

		&__row {
			margin: 0;
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(space-around);
		}
	}

	@media (min-width: $screen-xl-min) {

	}
}

.program {
	width: 300px;
	height: 300px;
	display: block;
	position: relative;
	margin: 0 auto 45px auto;

	&:before {
		z-index: 1;
		top: 2px;
		left: 2px;
		right: 2px;
		bottom: 2px;
		content: '';
		display: block;
		opacity: .5;
		background: url("../img/program__bg.png") 50% 50% no-repeat;
		position: absolute;
	}

	&__border {
		width: 300px;
		height: 300px;
		z-index: 10;
		position: absolute;

		&_one {
			top: 0;
			bottom: 0;
			left: 8px;
			right: 8px;
			position: absolute;
			border-top: 2px solid $color-blue;
			border-bottom: 2px solid $color-blue;

			&:before {
				top: 2px;
				left: -9px;
				width: 11px;
				height: 2px;
				content: '';
				position: absolute;
				background: $color-blue;
				@include rotate(-45deg);
			}

			&:after {
				top: 1px;
				right: -9px;
				width: 12px;
				height: 4px;
				content: '';
				position: absolute;
				background: $color-blue;
				@include rotate(45deg);
			}
		}

		&_two {
			left: 0;
			right: 0;
			top: 8px;
			bottom: 8px;
			position: absolute;
			border-left: 2px solid $color-blue;
			border-right: 2px solid $color-blue;

			&:before {
				bottom: -5px;
				left: -2px;
				width: 11px;
				height: 4px;
				content: '';
				position: absolute;
				background: $color-blue;
				@include rotate(45deg);
			}


			&:after {
				bottom: -4px;
				right: -3px;
				width: 11px;
				height: 2px;
				content: '';
				position: absolute;
				background: $color-blue;
				@include rotate(135deg);
			}

			span {

			}
		}

		&_angleTop {
			top: -1px;
			right: -1px;
			width: 218px;
			height: 25px;
			display: block;
			position: absolute;

			&:before {
				top: 0;
				left: 0;
				height: 4px;
				z-index: 10;
				width: 209px;
				content: '';
				position: absolute;
				background: $color-blue;
			}

			&:after {
				top: 9px;
				right: 0;
				z-index: 10;
				content: '';
				width: 4px;
				height: 16px;
				position: absolute;
				background: $color-blue;
			}
		}

		&_angleBottom {
			bottom: -1px;
			left: -1px;
			width: 218px;
			height: 25px;
			display: block;
			position: absolute;

			&:before {
				bottom: 0;
				left: 9px;
				height: 4px;
				z-index: 10;
				width: 209px;
				content: '';
				position: absolute;
				background: $color-blue;
			}

			&:after {
				bottom: 9px;
				left: 0;
				z-index: 10;
				content: '';
				width: 4px;
				height: 16px;
				position: absolute;
				background: $color-blue;
			}
		}
	}


	&__elem {
		z-index: 20;
		position: relative;
		padding: 11px 11px 0 24px;

		&:before {
			top: 47px;
			left: 10px;
			width: 11px;
			content: '';
			height: 144px;
			display: block;
			position: absolute;
			background: url("../img/program__line.png") 0 0 no-repeat;
		}
	}

	&__image {
		position: relative;
		padding: 2px 2px 2px 0;
		margin-bottom: 20px;
		border-left: 2px solid $color-blue;

		&:after,
		&:before {
			left: 0;
			z-index: 10;
			content: '';
			height: 2px;
			width: 255px;
			position: absolute;
			background: $color-blue;
		}

		&:after {
			top: 0;
		}

		&:before {
			bottom: 0;
		}

		&_border {
			right: 0;
			top: 6px;
			bottom: 6px;
			width: 2px;
			display: block;
			position: absolute;
			background: $color-blue;


			&:after {
				top: -3px;
				right: -1px;
				width: 10px;
				height: 2px;
				content: '';
				position: absolute;
				background: $color-blue;
				@include rotate(40deg);
			}

			&:before {
				bottom: -3px;
				right: -1px;
				width: 10px;
				height: 2px;
				content: '';
				position: absolute;
				background: $color-blue;
				@include rotate(-40deg);
			}
		}
	}

	&__icon {
		top: -1px;
		left: -17px;
		width: 61px;
		display: block;
		position: absolute;
	}

	&__text {
		color: #fff;
		display: block;
		padding-left: 30px;
		font-size: 1.125rem;
		line-height: 1.5rem;
		position: relative;
		background: url("../img/icon__program_small.png") 0 0 no-repeat;

		&:before {
			top: -20px;
			left: 9px;
			width: 2px;
			height: 20px;
			content: '';
			position: absolute;
			background: $color-blue;

		}

		strong {
			font-weight: 400;
			color: $color-blue;
			font-size: 1.375rem;
			line-height: 1.5rem;
			font-family: $font-head;
		}

		span {
			display: block;
		}
	}

	&__point {
		top: -4px;
		left: -4px;
		width: 24px;
		height: 24px;
		display: block;
		position: absolute;


		.icon-one {
			top: 0;
			left: 0;
			width: 28px;
			height: 28px;
			position: absolute;

			.ico-svg {
				stroke-width: 2px;
				stroke: #1fadf1;
				fill: transparent;
			}
		}

		.icon-two {
			top: 3px;
			left: 6px;
			width: 16px;
			height: 16px;
			position: absolute;

			.ico-svg {
				stroke: #1fadf1;
				fill: #1fadf1;
			}
		}
	}

	&__content {
		z-index: 20;
		width: 100%;
		height: 100%;
		display: none;
		position: relative;
		padding: 22px 11px 10px 24px;

		&:before {
			left: 50%;
			bottom: 30px;
			content: '';
			width: 51px;
			height: 43px;
			margin-left: -26px;
			position: absolute;
			background: url("../img/program__next.png") 0 0 no-repeat;
		}

		&_title {
			color: #fff;
			display: block;
			padding-left: 36px;
			font-size: 1.125rem;
			line-height: 1.5rem;
			position: relative;
			margin-bottom: 15px;
			background: url("../img/icon__program_point.png") 0 0 no-repeat;

			strong {
				font-weight: 400;
				color: $color-blue;
				font-size: 1.375rem;
				line-height: 1.5rem;
				font-family: $font-head;
			}

			span {
				display: block;
			}
		}

		&_text {
			color: #fff;
			font-size: 0.875rem;
		}
	}

	&:hover {

		&:before {
			opacity: 1;
		}

		.program__elem {
			display: none;
		}

		.program__content {
			display: block;
		}
	}
}

.booking {
	padding-top: 40px;
	padding-bottom: 45px;
	background: #f2f2f2;

	h2 {
		margin-bottom: 5px;
	}

	.subtitle {
		font-size: 1rem;
		text-align: center;
		margin-bottom: 30px;
		line-height: 1.25rem;
	}

	.form-text {
		color: #fe0f03;
		text-align: center;
		font-size: 0.875rem;
		line-height: 1.25rem;
		padding-top: 1.875rem;
	}

	.form-inline-text {
		padding: 5px 0;

		span {
			color: #191919;
			font-size: 1rem;
			line-height: 1.5rem;
		}

		strong {
			display: inline-block;
			font-weight: 700;
			font-size: 1.5rem;
			color: $color-blue;
		}
	}

	.form-summary {

		.form-label {
			color: #161616;
			font-weight: 700;
		}
	}

	@media (min-width: $screen-md-min) {

		&__form {
			width: 600px;
			margin: 0 auto;
		}

		.form-inline {
			@include flexbox();
		}

		.form-inline-label {
			width: 200px;
			min-width: 200px;
			padding-right: 5px;
		}

		.form-inline-input {
			@include flex-grow(1);
		}

		.form-inline-text {
			@include flex-grow(1);

			span {
				float: left;
				display: inline-block;
			}

			strong {
				float: right;
			}
		}

		.btn {
			margin-top: 20px;
		}
	}
}

.visit {
	overflow: hidden;
	max-width: 100%;
	background: #fff;
	padding-top: 40px;
	padding-bottom: 20px;

	&__grid {

	}

	&__elem {
		color: #373535;
		font-size: 1rem;
		line-height: 1.25rem;
		margin-bottom: 1.625rem;

		h4 {
			color: #181818;
			margin-bottom: 1rem;
			font-size: 1.125rem;
			line-height: 1.25rem;
			font-family: $font-head;
		}

		p {
			margin-bottom: 1rem;
		}

		a {
			font-weight: 700;
			color: $color-blue;
			text-decoration: none;

			&:hover {
				color: #ff1212;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__grid {
			margin: 0 -20px;
			@include flexbox();
			@include flex-wrap(wrap);
		}

		&__elem {
			width: 50%;
			padding: 0 20px;
		}
	}

}

.game {
	color: #fff;
	background: #2c343d;
	padding-top: 45px;
	padding-bottom: 45px;

	h2 {
		color: $color-blue;
		margin-bottom: 6px;
	}

	.subtitle {
		color: #fff;
		font-size: 1rem;
		text-align: center;
		margin-bottom: 30px;
		line-height: 1.25rem;
	}

	&__form {
		margin: 0 auto;
		max-width: 390px;
	}

	.btn {
		margin-top: 20px;
	}

	.form-label {
		color: #9b9b9b;
	}

	@media (min-width: $screen-md-min) {

		&__form {
			width: 390px;
			margin: 0 auto;

			.form-inline {
				@include flexbox();
			}

			.form-inline-label {
				width: 235px;
				min-width: 235px;
				padding-right: 5px;
			}

			.form-inline-input {
				@include flex-grow(1);
			}
		}
	}
}

.plan {
	padding-top: 40px;
	padding-bottom: 50px;
	background: #f2f2f2;

	&__title {
		color: #373535;
		font-size: 1.125rem;
		line-height: 1.25rem;
		margin-bottom: 1.25rem;
		font-family: $font-head;
	}

	&__time {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			margin-bottom: 1.5rem;

			span {
				display: block;
				color: #737474;
				font-size: 0.9375rem;
				line-height: 1.375rem;
			}

			strong {
				display: block;
				color: #373535;
				font-weight: 400;
				font-size: 1.5rem;
				line-height: 1.75rem;
			}
		}
	}

	&__row {
		margin-bottom: 2.5rem;
	}

	&__text {
		color: #141414;
		font-size: 1.125rem;
		margin-bottom: 1.5rem;
	}

	&__tickets {

		strong {
			display: block;
			line-height: 1;
			font-weight: 700;
			font-size: 2rem;
			color: #191919;
		}

		span {
			color: #1fadf1;
			font-size: 1rem;
			font-weight: 700;
			line-height: 2rem;
		}
	}

	@media (min-width: $screen-md-min) {

		&__time {
			margin: 0 -15px 40px -15px;
			@include flexbox();

			li {
				width: 33.33%;
				padding: 0 15px;
				margin-bottom: 0;
			}
		}

	}

	@media (min-width: $screen-lg-min) {

		&__row {
			@include flexbox();
		}

		&__text {
			width: 50%;
			padding-right: 20px;
			margin-bottom: 0;
		}

		&__tickets {
			width: 50%;
			padding-left: 20px;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__tickets {

			strong {
				font-size: 2.25rem;
			}
		}
	}
}

.video {
	background: #fff;
	padding-top: 40px;
	padding-bottom: 45px;


	&__item {
		width: 290px;
		margin-bottom: 2.5rem;
		text-align: center;
		position: relative;

		&:after {
			top: -1px;
			right: 7px;
			height: 4px;
			width: 210px;
			z-index: 50;
			content: '';
			position: absolute;
			background: $color-blue;
		}
		&:before {
			z-index: 50;
			top: 7px;
			right: -1px;
			width: 4px;
			height: 20px;
			content: '';
			position: absolute;
			background: $color-blue;
		}

		> a {
			color: $color-blue;
			font-size: 1.125rem;
			line-height: 1.375rem;
			font-family: $font-head;
			text-decoration: none;

			&:hover {
				color: #ff1212;
			}
		}
	}

	&__elem {
		position: relative;
		margin-bottom: 1.5rem;
		border: 2px solid $color-blue;

		&:after {
			z-index: 50;
			bottom: -6px;
			right: -6px;
			width: 12px;
			height: 12px;
			content: '';
			background: #fff;
			position: absolute;
			border-left: 2px solid $color-blue;
			@include rotate(45deg);
		}

		&:before {
			z-index: 50;
			top: -6px;
			right: -6px;
			width: 12px;
			height: 12px;
			content: '';
			background: #fff;
			position: absolute;
			border-bottom: 4px solid $color-blue;
			@include rotate(45deg);
		}

		a {
			display: block;
			position: relative;
			@include transition(0.3s);

			&:before {
				z-index: 10;
				bottom: -2px;
				left: -3px;
				width: 4px;
				height: 26px;
				content: '';
				position: absolute;
				background: $color-blue;
			}

			&:after {
				left: 0;
				height: 4px;
				width: 206px;
				z-index: 10;
				bottom: -3px;
				content: '';
				position: absolute;
				background: $color-blue;
			}

			&:hover {

				img {
					opacity: 0.7;
					@include transition(0.3s);
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {


		&__row {
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(space-around);
		}

		&__item {
			width: 300px;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__row {
			@include justify-content(space-between);
		}

		&__item {
			width: 290px;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__item {
			width: 300px;
		}
	}
}

.partners {
	background: #2c343d;
	padding-top: 40px;
	padding-bottom: 85px;

	h2 {
		color: $color-blue;
		margin-bottom: 49px;
	}

	&__wrap {
		padding: 0 30px;
		position: relative;
	}

	&__logo {
		display: block;
		margin: 0 auto;
		max-width: 181px;
	}

	.swiper-button-prev {
		left: -15px;
		outline: none;
		background: url("../img/slider__arrow.png") 50% 50% no-repeat;
	}

	.swiper-button-next {
		right: -15px;
		outline: none;
		background: url("../img/slider__arrow.png") 50% 50% no-repeat;
		@include rotate(180deg);
	}
}

.newsBlock {
	background: #fff;
	padding-top: 40px;
	padding-bottom: 45px;

	h2 {

	}
}

.subscribe {
	padding: 20px 0;
	background: #e5e5e5;

	&__form {
		max-width: 300px;
		padding: 0;
		margin: 0 auto;
		list-style: none;

		> li {
			margin-bottom: 15px;

			&:last-child {
				padding-top: 15px;
				text-align: center;
			}
		}
	}

	&__title {
		color: #373535;
		text-align: center;
		font-size: 0.875rem;
		line-height: 1.125rem;

		strong {
			display: block;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__form {
			max-width: inherit;
			margin: 0 -15px;
			@include flexbox();
			@include justify-content(space-between);

			> li {
				padding: 0 15px;
				margin-bottom: 0;

				&:first-child {

				}

				&:nth-child(2) {
					@include flex-grow(1);
				}

				&:last-child {
					width: 280px;
					padding-top: 0;
				}
			}
		}

		&__title {
			text-align: left;
		}

		.form-control {
			color: $color-blue;

			@include placeholder($color-blue);

			&:focus {
				color: $color-blue;
				@include placeholder(transparent);
			}
		}
	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {

	}

}



@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}


.swiper-slide-active {

	.slide__bottom_line {
		animation-name: line;
		animation-duration: 4s;
		animation-delay: 0.5s;
		animation-fill-mode: forwards;
	}

	.slide__left_one {
		opacity: 0;
		animation-name: fade;
		animation-duration: 3s;
		animation-delay: 0.5s;
		animation-fill-mode: forwards;
	}

	.slide__left_two{
		opacity: 0;
		animation-name: fade;
		animation-duration: 3s;
		animation-delay: 1s;
		animation-fill-mode: forwards;
	}

	.slide__left_three {
		opacity: 0;
		animation-name: fade;
		animation-duration: 3s;
		animation-delay: 2s;
		animation-fill-mode: forwards;
	}
}

.link__hover {

	&.hover-one {
		animation-name: hover-one;
		animation-duration: 3s;
		animation-delay: 1s;
		animation-iteration-count: infinite;
	}

	&.hover-two {
		animation-name: hover-two;
		animation-duration: 3s;
		animation-delay: 1s;
		animation-iteration-count: infinite;
	}

	&.hover-three {
		animation-name: hover-three;
		animation-duration: 3s;
		animation-delay: 1s;
		animation-iteration-count: infinite;
	}
}

@keyframes hover-one {

	0% {
		opacity: 0;
		width: 30px;
		height: 18px;
		margin: -9px 0 0 -15px;
	}

	40% {
		opacity: 1;
		width: 48px;
		height: 28px;
		margin: -14px 0 0 -24px;
	}

	60% {
		opacity: 1;
		width: 48px;
		height: 28px;
		margin: -14px 0 0 -24px;
	}

	100% {
		opacity: 0;
		width: 30px;
		height: 18px;
		margin: -9px 0 0 -15px;
	}
}
@-webkit-keyframes hover-one {

	0% {
		opacity: 0;
		width: 30px;
		height: 18px;
		margin: -9px 0 0 -15px;
	}

	40% {
		opacity: 1;
		width: 48px;
		height: 28px;
		margin: -14px 0 0 -24px;
	}

	60% {
		opacity: 1;
		width: 48px;
		height: 28px;
		margin: -14px 0 0 -24px;
	}

	100% {
		opacity: 0;
		width: 30px;
		height: 18px;
		margin: -9px 0 0 -15px;
	}
}

@keyframes hover-two {

	0% {
		opacity: 0;
		width: 30px;
		height: 18px;
		margin: -9px 0 0 -15px;
	}

	40% {
		opacity: 1;
		width: 64px;
		height: 38px;
		margin: -19px 0 0 -32px;
	}

	60% {
		opacity: 1;
		width: 64px;
		height: 38px;
		margin: -19px 0 0 -32px;
	}

	100% {
		opacity: 0;
		width: 30px;
		height: 18px;
		margin: -9px 0 0 -15px;
	}
}
@-webkit-keyframes hover-two {

	0% {
		opacity: 0;
		width: 30px;
		height: 18px;
		margin: -9px 0 0 -15px;
	}

	40% {
		opacity: 1;
		width: 64px;
		height: 38px;
		margin: -19px 0 0 -32px;
	}

	60% {
		opacity: 1;
		width: 64px;
		height: 38px;
		margin: -19px 0 0 -32px;
	}

	100% {
		opacity: 0;
		width: 30px;
		height: 18px;
		margin: -9px 0 0 -15px;
	}
}

@keyframes hover-three {

	0% {
		opacity: 0;
		width: 30px;
		height: 18px;
		margin: -9px 0 0 -15px;
	}

	40% {
		opacity: 1;
		width: 88px;
		height: 52px;
		margin: -26px 0 0 -44px;
	}

	60% {
		opacity: 1;
		width: 88px;
		height: 52px;
		margin: -26px 0 0 -44px;
	}

	100% {
		opacity: 0;
		width: 30px;
		height: 18px;
		margin: -9px 0 0 -15px;
	}
}
@-webkit-keyframes hover-three {

	0% {
		opacity: 0;
		width: 30px;
		height: 18px;
		margin: -9px 0 0 -15px;
	}

	40% {
		opacity: 1;
		width: 88px;
		height: 52px;
		margin: -26px 0 0 -44px;
	}

	60% {
		opacity: 1;
		width: 88px;
		height: 52px;
		margin: -26px 0 0 -44px;
	}

	100% {
		opacity: 0;
		width: 30px;
		height: 18px;
		margin: -9px 0 0 -15px;
	}
}



@keyframes fade {

	0% {
		opacity: 0;
	}

	50% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fade {

	0% {
		opacity: 0;
	}

	50% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
	}
}

@keyframes line {

	0% {
		width: 1px;
	}

	100% {
		width: 110px;
	}
}

@-webkit-keyframes line {

	0% {
		width: 1px;
	}

	100% {
		width: 110px;
	}
}