@font-face {
	font-family:'Neuropol';
	src: url('../fonts/Neuropol/NeuropolMedium.eot');
	src: url('../fonts/Neuropol/NeuropolMedium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Neuropol/NeuropolMedium.woff2') format('woff2'),
	url('../fonts/Neuropol/NeuropolMedium.woff') format('woff'),
	url('../fonts/Neuropol/NeuropolMedium.svg#Neuropol Medium') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0451;
}