.footer {
	color: #fff;
	font-size: 0.875rem;
	line-height: 1.125rem;
	padding: 40px 0;
	background: #2a3138;
	border-top: 1px solid #868a8e;

	&__row {

	}

	&__about {
		font-size: 0.75rem;
		line-height: 1rem;
		margin-bottom: 1.5rem;

		p {
			margin-bottom: 0;
		}
	}

	&__logo {
		width: 62px;
		height: 32px;
		display: block;
		margin-bottom: 22px;
	}

	&__nav {
		margin-bottom: 1.5rem;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				margin-bottom: 1rem;

				&:last-child {
					margin-bottom: 0;
				}

				a {
					color: $color-blue;
					font-size: 0.875rem;
					line-height: 1.25rem;
					text-decoration: underline;

					&:hover {
						color: #fff;
						text-decoration: none;
					}
				}
			}
		}
	}

	&__info {
		margin-bottom: 1.5rem;

		a {
			color: $color-blue;
			font-size: 0.875rem;
			line-height: 1.25rem;
			text-decoration: underline;

			&:hover {
				color: #fff;
				text-decoration: none;
			}
		}

		p {

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__contact {

		&_items {
			padding: 0;
			list-style: none;
			margin: 0 0 1rem 0;

			li {
				margin-bottom: 0.5rem;

				&:last-child {
					margin-bottom: 0;
				}

				a {
					color: $color-blue;
					text-decoration: underline;

					&:hover {
						color: #fff;
						text-decoration: none;
					}

					&.tel {
						color: #fff;
						text-decoration: none;
					}
				}
			}
		}
	}

	&__bottom {
		color: #7c7d7d;
		height: 51px;
		font-size: 0.75rem;
		line-height: 1rem;
		padding-top: 20px;
		background: url("../img/footer__pattern.png") 0 0 repeat-x;
	}


	@media (min-width: $screen-md-min) {

		&__row {
			margin: 0 -15px;
			@include flexbox();
			@include flex-wrap(wrap);
		}

		&__about {
			width: 100%;
		}

		&__nav {
			width: 33.33%;
			padding: 0 15px;
			margin-bottom: 0;
		}

		&__info {
			width: 33.33%;
			padding: 0 15px;
			margin-bottom: 0;
		}

		&__contact {
			width: 33.33%;
			padding: 0 15px;
			margin-bottom: 0;
		}

		&__bottom {

		}
	}

	@media (min-width: $screen-lg-min) {

		&__about {
			width: 25%;
			margin-bottom: 0;
		}

		&__nav {
			width: 25%;
		}

		&__info {
			width: 25%;
		}

		&__contact {
			width: 25%;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__row {
			margin: 0;
		}

		&__about {
			width: 250px;
			padding-left: 0;
			padding-right: 35px;
		}

		&__nav {
			width: 260px;
			padding-left: 0;
			padding-right: 35px;
		}

		&__info {
			width: 250px;
			padding-left: 0;
			padding-right: 35px;
		}

		&__contact {
			width: auto;
			padding-left: 0;
		}
	}
}