
// Header

.header {
	padding-top: 20px;
	padding-bottom: 25px;
	background: url("../img/header__bg.png");

	&__grid {
		margin: 0 -6px;
	}

	&__logo {
		width: 298px;
		display: block;
		margin: 0 auto 20px auto;
	}

	&__place {
		padding: 0;
		width: 301px;
		list-style: none;
		margin: 0 auto 20px auto;

		> li {

			&:first-child {
				padding-left: 60px;
				margin-bottom: 10px;
			}
		}
	}

	&__contact {
		padding: 0;
		list-style: none;
		text-align: center;
		margin: 0 auto 20px auto;


		> li {

			&:first-child {
				margin-bottom: 8px;
			}
		}
	}

	&__tel {
		font-size: 23px;
		line-height: 23px;
		color: $color-blue;
		text-decoration: none;
		font-family: $font-head;
	}

	&__lng {
		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		text-align: center;

		> li {
			padding: 0 6px;
			display: inline-block;

			a {
				width: 51px;
				height: 21px;
				padding: 2px 0;
				overflow: hidden;
				line-height: 17px;
				text-align: center;
				font-size: 0.75rem;
				color: $color-blue;
				display: inline-block;
				text-decoration: none;
				font-family: $font-head;
				background: url("../img/header__lng.png") 50% -150px no-repeat;
			}

			&.active {

				a {
					color: #fff;
					background-position: 50% 50%;
				}
			}
		}
	}

	.city {
		height: 1.25rem;
		color: $color-blue;
		font-size: 1.25rem;
		line-height: 1.25rem;
	}

	.worktime {
		width: 301px;
		height: 39px;
		position: relative;
		padding-left: 60px;
		background: url("../img/header__time_bg.png") 0 0 no-repeat;

		&__value {
			width: 115px;
			padding: 3px 0;
			display: block;
			line-height: 2rem;
			font-size: 1.75rem;
			color: $color-blue;
			font-family: $font-head;
		}

		&__status {
			top: 1px;
			right: 1px;
			color: #fff;
			width: 122px;
			height: 36px;
			display: block;
			text-align: center;
			font-size: 0.875rem;
			line-height: 1.25rem;
			position: absolute;
			font-family: $font-head;

			&_open {
				width: 100%;
				height: 100%;
				display: block;
				position: relative;
				padding: 0.5rem 0 0.5rem 0.75rem;
				background: url("../img/header__open.png") 100% 50% no-repeat;
			}

			&_close {
				width: 100%;
				height: 100%;
				display: none;
				position: relative;
				padding: 0.5rem 0 0.5rem 0.75rem;
				background: url("../img/header__close.png") 100% 50% no-repeat;
			}

			&.closed {

				.worktime__status_open {
					display: none;
				}

				.worktime__status_close {
					display: block;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 15px;

		&__grid {
			margin: 0;
			@include clearfix();
		}

		&__logo {
			float: left;
			margin: 30px 30px 0 0;
		}

		&__place {
			margin: 0;
			float: left;
		}

		&__contact {
			margin: 0;
			display: none;
		}

		&__lng {
			width: 51px;
			float: right;
			margin: 30px 0 0 0;

			li {
				padding: 0;

				&:first-child {
					margin-bottom: 3px;
				}
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__logo {
			margin-right: 32px;
		}

		&__place {
			margin-right: 30px;
		}

		&__contact {
			float: left;
			display: block;
		}
	}
}


.nav {
	top: 0;
	left: 0;
	right: 0;
	z-index: 1010;
	position: absolute;

	&.nav-open {

		.nav__header {
			background: rgba(0,0,0,0.85);
		}

		.nav__menu {
			display: block;
			background: rgba(0,0,0,0.85);
		}
	}

	&__header {
		padding: 10px 0;
		position: relative;
		background: rgba(0,0,0,0.65);

		strong {
			color: #fff;
			float: left;
			padding: 0.5rem 0;
			font-size: 1.25rem;
			line-height: 1.5rem;
			display: inline-block;
			font-family: $font-head;
		}

		&_toggle {
			width: 36px;
			float: right;
			font-size: 0;
			line-height: 0;
			display: inline-block;
			padding: 9px 5px 7px 5px;

			span {
				width: 100%;
				height: 3px;
				background: #fff;
				margin-bottom: 5px;
				display: inline-block;
			}
		}
	}

	&__menu {
		left: 0;
		right: 0;
		top: 100%;
		display: none;
		position: absolute;
		padding-bottom: 15px;
		background: rgba(0,0,0,0.65);


		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {

				a {
					color: $color-blue;
					padding: 0.5rem 0;
					font-size: 0.875rem;
					line-height: 1.25rem;
					text-decoration: none;
					display: inline-block;
					font-family: $font-head;

					&:hover {
						color: #fff;
					}
				}

				&.active {

					a {
						color: #fff;
					}
				}
			}
		}
	}

	&__wrap {
		margin: 0 auto;
		padding: 0 15px;
		position: relative;
	}

	&__search {
		display: none;
	}

	@media (min-width: $screen-sm-min) {

		&__wrap {
			padding: 0;
			width: 510px;
		}
	}

	@media (min-width: $screen-md-min) {

		&.fix-top {
			position: fixed;

			.nav__menu {
				background: rgba(0,0,0,1);
			}
		}

		&__wrap {
			width: 720px;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__wrap {
			width: 940px;
		}


		&.nav-open {

			.nav__header {
				background: rgba(0,0,0,0.65);
			}

			.nav__menu {
				display: block;
				background: rgba(0,0,0,0.65);
			}
		}

		&__header {
			display: none;
		}

		&__menu {
			top: auto;
			left: auto;
			right: auto;
			display: block;
			padding-bottom: 0;
			position: relative;

			ul {
				margin: 0 -15px;
				@include flexbox();

				li {
					width: 100%;
					padding: 1px 0;

					a {
						padding: 0;
						width: 100%;
						height: 50px;
						display: block;
						text-align: center;
						position: relative;
						text-transform: uppercase;

						> span {
							width: 100%;
							height: 50px;
							position: relative;
							padding: 14px 10px;
							display: inline-block;


							&:after,
							&:before {
								left: 6px;
								right: 6px;
								height: 0;
								z-index: 5;
								content: '';
								overflow: hidden;
								position: absolute;
								background: url("../img/btn__active.png") no-repeat;
								@include transition-delay(0.3s);
								@include transition-duration(.3s);
							}

							&:after {
								top: 0;
								background-position: 50% 0;
							}

							&:before {
								bottom: 0;
								background-position: 50% -29px;
							}
						}

						&:after,
						&:before {
							visibility: hidden;
							opacity: 0;
						}

						&:before {
							top: 9px;
							z-index: 10;
							right: -1px;
							content: '';
							height: 10px;
							width: 4px;
							position: absolute;
							display: inline-block;
							background: $color-blue;
							@include transition(.3s);
						}

						&:after {
							bottom: 9px;
							z-index: 10;
							left: -1px;
							content: '';
							height: 10px;
							width: 4px;
							position: absolute;
							display: inline-block;
							background: $color-blue;
							@include transition(.3s);
						}

						.border-one {
							top: 0;
							bottom: 0;
							left: 8px;
							right: 8px;
							display: inline-block;
							position: absolute;
							border-top: 2px solid $color-blue;
							border-bottom: 2px solid $color-blue;

							visibility: hidden;
							opacity: 0;

							&:before {
								top: 2px;
								left: -9px;
								width: 11px;
								height: 2px;
								content: '';
								position: absolute;
								background: $color-blue;
								@include rotate(-45deg);
							}

							&:after {
								top: 1px;
								right: -9px;
								width: 12px;
								height: 4px;
								content: '';
								position: absolute;
								background: $color-blue;
								@include rotate(45deg);
							}

							b {
								top: -3px;
								right: 0;
								width: 17px;
								height: 4px;
								position: absolute;
								display: inline-block;
								background: $color-blue;
								@include transition(.3s);

								&:before {
									top: 4px;
									left: -9px;
									width: 11px;
									height: 4px;
									@include rotate(-45deg);
								}

								&:after {
									top: 9px;
									z-index: 10;
									left: -9px;
									height: 6px;
									width: 4px;
								}

								&:after,
								&:before {
									opacity: 0;
									content: '';
									z-index: 10;
									visibility: hidden;
									position: absolute;
									display: inline-block;
									background: $color-blue;
									@include transition-delay(0s);
								}
							}
						}

						.border-two {
							left: 0;
							right: 0;
							top: 8px;
							bottom: 8px;
							display: inline-block;
							position: absolute;
							border-left: 2px solid $color-blue;
							border-right: 2px solid $color-blue;

							visibility: hidden;
							opacity: 0;

							&:before {
								bottom: -5px;
								left: -2px;
								width: 11px;
								height: 4px;
								content: '';
								position: absolute;
								background: $color-blue;
								@include rotate(45deg);
							}

							&:after {
								bottom: -4px;
								right: -3px;
								width: 11px;
								height: 2px;
								content: '';
								position: absolute;
								background: $color-blue;
								@include rotate(135deg);
							}

							b {
								bottom: -9px;
								left: 7px;
								width: 17px;
								height: 4px;
								position: absolute;
								display: inline-block;
								background: $color-blue;
								@include transition(.3s);

								&:after,
								&:before {
									opacity: 0;
									content: '';
									z-index: 10;
									visibility: hidden;
									position: absolute;
									display: inline-block;
									background: $color-blue;
									@include transition-delay(0s);
								}

								&:before {
									bottom: 4px;
									right: -10px;
									width: 12px;
									height: 4px;
									@include rotate(-45deg);
								}

								&:after {
									bottom: 9px;
									right: -10px;
									height: 6px;
									width: 4px;
								}
							}
						}

						&:hover {
							background: url("../img/nav__bg_hover.png") 50% 50% no-repeat;
							background-size: cover;

							&:after,
							&:before {
								visibility: visible;
								opacity: 1;
							}

							.border-one {
								display: inline-block;
								visibility: visible;
								opacity: 1;

								b {
									width: calc(100%);
									@include transition(.3s);

									&:after,
									&:before {
										opacity: 1;
										visibility: visible;
										@include transition(.3s);
										@include transition-delay(0.3s);
									}
								}
							}

							.border-two {
								display: inline-block;
								visibility: visible;
								opacity: 1;

								b {
									width: calc(100% - 14px);
									@include transition(.3s);

									&:after,
									&:before {
										opacity: 1;
										visibility: visible;
										@include transition(.3s);
										@include transition-delay(0.3s);
									}
								}

							}

							> span {

								&:after,
								&:before {
									height: 8px;
									@include transition-delay(0.3s);
									@include transition-duration(.3s);
								}
							}
						}

						&:active {


						}
					}

					&.active {

						a {

							.border-one {
								display: inline-block;
								visibility: visible;
								opacity: 1;

								b {
									width: calc(100%);
									@include transition(.3s);

									&:after,
									&:before {
										opacity: 1;
										visibility: visible;
										@include transition(.3s);
										@include transition-delay(0.3s);
									}
								}
							}

							.border-two {
								display: inline-block;
								visibility: visible;
								opacity: 1;

								b {
									width: calc(100% - 14px);
									@include transition(.3s);

									&:after,
									&:before {
										opacity: 1;
										visibility: visible;
										@include transition(.3s);
										@include transition-delay(0.3s);
									}
								}

							}
						}
					}
				}
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__wrap {
			padding-right: 45px;
			width: 1000px;
		}

		&__menu {

		}

		&__search {
			top:0;
			right: 0;
			width: 30px;
			height: 50px;
			color: $color-blue;
			font-size: 1.25rem;
			line-height: 1.25rem;
			position: absolute;
			text-decoration: none;
			display: block;
			padding: 15px 0;
			text-align: right;
		}
	}
}