* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}



body {
	color: $color-base;
	font-family: $font-base;
	background-color: $body-bg;
	font-size: $font-size-base;
	line-height: $line-height-base;
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left:  ($gutter / 2);
	padding-right: ($gutter / 2);
	@include clearfix;

	@media (min-width: $screen-sm-min) {
		width: $container-sm;
	}

	@media (min-width: $screen-md-min) {
		width: $container-md;
	}

	@media (min-width: $screen-lg-min) {
		width: $container-lg;
	}

	@media (min-width: $screen-xl-min) {
		width: $container-xl;
	}
}


//
// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin: 0;
	padding: 0;
	font-weight: 400;
	line-height: 1.2;
}

h1, .h1 {
	font-size: 2rem;
	margin-bottom: 1.25rem;
}

h2, .h2 {
	text-align: center;
	font-size: 	1.5rem;
	margin-bottom: 2rem;
	font-family: $font-head;
	text-transform: uppercase;

	@media (min-width: $screen-lg-min) {
		font-size: 1.875rem;
	}
}

h3, .h3 {
	font-size: 1.25rem;
	margin-bottom: 1.25rem;
	font-family: $font-head;
}

h4, .h4 {
	font-size: 1.25rem;
	margin-bottom: 1.25rem;
}

h5, .h5 {
	font-size: 1rem;
	margin-bottom: 1rem;
}

h6, .h6 {
	font-size: 0.875rem;
	margin-bottom: 0.75rem;
}

p {
	margin: 0 0 1rem 0;
}

a {
	outline: none;
	color: $color-link;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}