.scheduleWeek {
	z-index: 10;
	color: #fff;
	padding-top: 40px;
	position: relative;
	padding-bottom: 50px;
	background: #2c343d;
	@include box-shadow(0px 5px 5px 0px rgba(0, 0, 0, 0.5));

	&:after,
	&:before {
		top: 0;
		bottom: 0;
		z-index: 1;
		width: 59px;
		content: '';
		opacity: 0;
		visibility: hidden;
		position: absolute;
		background: url("../img/pattern__dark.png") 0 0 repeat-y;
	}

	&:after {
		left: 0;
	}

	&:before {
		right: 0;
	}

	.container {
		z-index: 20;
		position: relative;
	}

	h2 {
		color: $color-blue;
	}

	.scheduleText {
		padding: 20px 20px 0 20px;
		font-size: 0.875rem;
		line-height: 1.25rem;
	}

	@media (min-width: $screen-md-min) {

		.scheduleText {
			margin: 0 80px;
			padding: 30px 45px;
			border: 2px solid $color-blue;
			border-top: none;
		}
	}

	@media (min-width: $screen-lg-min) {

		.scheduleText {
			margin: 0 160px;
		}
	}

	@media (min-width: $screen-xl-min) {

		&:after,
		&:before {
			opacity: 1;
			visibility: visible;
		}
	}
}

.schedule {
	padding: 20px;
	position: relative;

	&:before {
		left: -1px;
		bottom: -1px;
		width: 4px;
		height: 110px;
		content: '';
		position: absolute;
		background: $color-blue;
	}

	&:after {
		left: 0;
		bottom: -1px;
		width: 110px;
		height: 4px;
		content: '';
		position: absolute;
		background: $color-blue;
	}

	.schedule-border-one {
		top: 0;
		z-index: 1;
		bottom: 0;
		left: 10px;
		right: 10px;
		position: absolute;
		border-top: 2px solid $color-blue;
		border-bottom: 2px solid $color-blue;

		&:after {
			top: 2px;
			right: -12px;
			z-index: 5;
			width: 14px;
			height: 4px;
			content: '';
			display: block;
			position: absolute;
			background: $color-blue;
			@include rotate(45deg);
		}
	}


	.schedule-border-two {
		left: 0;
		right: 0;
		z-index: 1;
		top: 10px;
		bottom: 10px;
		position: absolute;
		border-left: 2px solid $color-blue;
		border-right: 2px solid $color-blue;


		&:after,
		&:before {
			z-index: 1;
			width: 14px;
			height: 2px;
			content: '';
			display: block;
			position: absolute;
			background: $color-blue;
			@include rotate(-45deg);
		}

		&:after {
			bottom: -5px;
			right: -4px;
		}

		&:before {
			top: -5px;
			left: -4px;
		}
	}

	.schedule-border-angle {
		top: 0;
		right: 0;
		z-index: 5;
		width: 160px;
		height: 120px;
		display: block;
		position: absolute;

		&:after {
			left: 0;
			top: -1px;
			right: 9px;
			content: '';
			height: 4px;
			position: absolute;
			background: $color-blue;
		}

		&:before {
			right: -1px;
			top: 9px;
			bottom: 0;
			content: '';
			width: 4px;
			position: absolute;
			background: $color-blue;
		}
	}

	&__calendar {
		z-index: 10;
		margin-bottom: 20px;
		position: relative;
	}

	&__date {
		width: 100%;
		cursor: pointer;
		color: $color-blue;
		font-weight: 400;
		font-size: 0.875rem;
		line-height: 1.25rem;
		font-family: $font-head;
		border: none;
		outline: none;
		user-select: none;
		text-align: center;
		position: relative;
		white-space: nowrap;
		background: transparent;
		display: inline-block;
		vertical-align: middle;
		@include transition(.2s);

		&_wrap {
			width: 100%;
			position: relative;
			padding: 10px 10px;
			display: inline-block;

			&:after,
			&:before {
				left: 6px;
				right: 6px;
				height: 0;
				z-index: 5;
				content: '';
				overflow: hidden;
				position: absolute;
				@include transition(.2s);
				background: url("../img/btn__active.png") no-repeat;
			}

			&:after {
				top: 0;
				background-position: 50% 0;
			}

			&:before {
				bottom: 0;
				background-position: 50% -29px;
			}

		}

		&:before {
			top: 9px;
			z-index: 10;
			right: -1px;
			content: '';
			height: 10px;
			width: 4px;
			position: absolute;
			display: inline-block;
			background: $color-blue;
			@include transition(.3s);
		}

		&:after {
			bottom: 9px;
			z-index: 10;
			left: -1px;
			content: '';
			height: 10px;
			width: 4px;
			position: absolute;
			display: inline-block;
			background: $color-blue;
			@include transition(.3s);
		}

		&_borderOne {
			top: 0;
			bottom: 0;
			left: 8px;
			right: 8px;
			position: absolute;
			display: inline-block;
			border-top: 2px solid $color-blue;
			border-bottom: 2px solid $color-blue;

			&:before {
				top: 2px;
				left: -9px;
				width: 11px;
				height: 2px;
				content: '';
				position: absolute;
				background: $color-blue;
				@include rotate(-45deg);
			}

			&:after {
				top: 1px;
				right: -9px;
				width: 12px;
				height: 4px;
				content: '';
				position: absolute;
				background: $color-blue;
				@include rotate(45deg);
			}

			span {
				top: -3px;
				right: 0;
				width: 17px;
				height: 4px;
				position: absolute;
				display: inline-block;
				background: $color-blue;
				@include transition(.3s);

				&:before {
					top: 4px;
					left: -9px;
					width: 11px;
					height: 4px;
					@include rotate(-45deg);
				}

				&:after {
					top: 9px;
					z-index: 10;
					left: -9px;
					height: 6px;
					width: 4px;
				}

				&:after,
				&:before {
					opacity: 0;
					content: '';
					z-index: 10;
					visibility: hidden;
					position: absolute;
					display: inline-block;
					background: $color-blue;
					@include transition-delay(0s);
				}
			}
		}

		&_borderTwo {
			left: 0;
			right: 0;
			top: 8px;
			bottom: 8px;
			position: absolute;
			display: inline-block;
			border-left: 2px solid $color-blue;
			border-right: 2px solid $color-blue;

			&:before {
				bottom: -5px;
				left: -2px;
				width: 11px;
				height: 4px;
				content: '';
				position: absolute;
				background: $color-blue;
				@include rotate(45deg);
			}

			&:after {
				bottom: -4px;
				right: -3px;
				width: 11px;
				height: 2px;
				content: '';
				position: absolute;
				background: $color-blue;
				@include rotate(135deg);
			}

			span {
				bottom: -9px;
				left: 7px;
				width: 17px;
				height: 4px;
				position: absolute;
				display: inline-block;
				background: $color-blue;
				@include transition(.3s);

				&:after,
				&:before {
					opacity: 0;
					content: '';
					z-index: 10;
					visibility: hidden;
					position: absolute;
					display: inline-block;
					background: $color-blue;
					@include transition-delay(0s);
				}

				&:before {
					bottom: 4px;
					right: -10px;
					width: 12px;
					height: 4px;
					@include rotate(-45deg);
				}

				&:after {
					bottom: 9px;
					right: -10px;
					height: 6px;
					width: 4px;
				}
			}
		}

		&:hover {
			color: #fff;
			text-decoration: none;
			background: transparent;

			&:after,
			&:before {
				height: 6px;
				@include transition(.3s);
			}

			.schedule__date_borderOne {

				span {
					width: 100%;
					@include transition(.3s);

					&:after,
					&:before {
						opacity: 1;
						visibility: visible;
						@include transition-delay(0.3s);
					}
				}
			}

			.schedule__date_borderTwo {

				span {
					width: calc(100% - 14px);
					@include transition(.3s);

					&:after,
					&:before {
						opacity: 1;
						visibility: visible;
						@include transition-delay(0.3s);
					}
				}
			}
		}

		&.active,
		&:active {
			color: #fff;

			.schedule__date_wrap {

				&:after,
				&:before {
					height: 10px;
					@include transition(.2s);
				}
			}


			.schedule__date_borderOne {

				span {
					width: 100%;
					@include transition(.3s);

					&:after,
					&:before {
						opacity: 1;
						visibility: visible;
						@include transition-delay(0.3s);
					}
				}
			}

			.schedule__date_borderTwo {

				span {
					width: calc(100% - 14px);
					@include transition(.3s);

					&:after,
					&:before {
						opacity: 1;
						visibility: visible;
						@include transition-delay(0.3s);
					}
				}
			}
		}

		&:focus,
		&.focus {
			outline: 0;
		}

		&.disable {
			color: #000;
			cursor: default;

			&:after,
			&:before {
				display: none;
			}

			.schedule__date_borderOne {
				border-color: #000;

				&:before {
					background: #000;
				}

				&:after {
					height: 2px;
					background: #000;
				}

				> span {
					display: none;
				}
			}

			.schedule__date_borderTwo {
				border-color: #000;

				&:before {
					height: 2px;
					background: #000;
				}

				&:after {
					background: #000;
				}

				> span {
					display: none;
				}
			}

			.schedule__date_wrap {

				&:after,
				&:before {
					display: none;
				}
			}
		}
	}

	&__day {
		z-index: 10;
		position: relative;

		.swiper-slide {

			&:nth-child(odd) {

				.schedule__event {
					background: #2a3138;

					&:hover {
						background: #202326;
					}
				}
			}
		}
	}

	&__event {
		margin-top: 8px;
		min-width: 120px;
		padding: 25px 5px;
		text-align: center;
		color: $color-blue;
		position: relative;

		&_hexagon {
			left: 50%;
			top: -6px;
			width: 7px;
			height: 12px;
			display: block;
			margin-left: -3px;
			position: absolute;
			background: $color-blue;

			&:after,
			&:before {
				top: 0;
				left: 0;
				z-index: 1;
				content: '';
				width: 100%;
				height: 100%;
				display: block;
				position: absolute;
				background: $color-blue;
			}

			&:after {
				@include rotate(60deg);
			}

			&:before {
				@include rotate(-60deg);
			}
		}

		&_time {
			width: 60px;
			font-size: 1rem;
			padding: 0.25rem 0;
			text-align: center;
			line-height: 1rem;
			position: relative;
			font-family: $font-head;
			margin: 0 auto 20px auto;
			border-top: 2px solid $color-blue;
			border-bottom: 2px solid $color-blue;

			&:before {
				left: 50%;
				top: -25px;
				width: 2px;
				content: '';
				height: 25px;
				position: absolute;
				background: $color-blue;
			}
		}

		&_icon {
			width: 61px;
			height: 53px;
			margin: 0 auto 15px auto;
		}

		&_name {
			height: 60px;
			display: block;
			color: $color-blue;
			position: relative;
			text-decoration: none;
			line-height: 1rem;
			font-size: 0.8125rem;

			strong {
				font-weight: 700;
				display: block;
			}

			span {
				display: block;
			}

			&:hover {
				color: #fff;
			}
		}

		&_duration {
			line-height: 1rem;
			font-size: 0.8125rem;
		}

		&_available {
			line-height: 1rem;
			font-size: 0.8125rem;
			margin-bottom: 25px;

			span {
				color: #fff;
			}
		}

		&_price {
			font-size: 1rem;
			line-height: 1.25rem;
			margin-bottom: 19px;
			font-family: $font-head;
		}

		&:hover {
			background: #202326;

			.schedule__event_hexagon {
				background: #fff;

				&:after,
				&:before {
					background: #fff;
				}
			}

			.schedule__event_time {
				color: #fff;
				border-top-color: #fff;
				border-bottom-color: #fff;

				&:before {
					background: #fff;
				}
			}
		}

		&.disable {
			-webkit-filter: grayscale(100%);
			-moz-filter: grayscale(100%);
			-ms-filter: grayscale(100%);
			-o-filter: grayscale(100%);
			filter: grayscale(100%);
			filter: gray; /* IE 6-9 */

			opacity: 0.6;

			&:after {
				top: 0;
				left: 0;
				content: '';
				width: 100%;
				height: 100%;
				z-index: 100;
				position: absolute;
			}
		}
	}

	.calendar-slider {
		padding-top: 25px;
		position: relative;
	}

	.swiper-pagination-progressbar {
		height: 8px;
		background: transparent;
		border: 1px solid $color-blue !important;

		.swiper-pagination-progressbar-fill {
			background: $color-blue;
		}
	}

	.swiper-button-prev,
	.swiper-button-next {
		top: 50%;
		outline: none;
		opacity: 1;
		width: 9px;
		height: 21px;
		margin-top: 0;
		background: url("../img/slider__arrow.png") 0 0 no-repeat;
	}

	.swiper-button-prev {
		left: -15px;
	}

	.swiper-button-next {
		right: -15px;
		left: auto;
		@include rotate(180deg);
	}

	.day-slider {
		position: relative;

		&:before {
			top: 6px;
			left: 0;
			right: 0;
			content: '';
			height: 2px;
			display: block;
			position: absolute;
			background: $color-blue;
		}
	}

	@media (min-width: $screen-md-min) {
		padding: 25px 48px;

		.swiper-button-prev {
			left: -25px;
		}

		.swiper-button-next {
			right: -25px;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__day {

			&_wrap {
				width: 100%;
				overflow: hidden;
				max-width: 100%;
			}

			&_inner {
				margin-right: -60px;
			}
		}

	}

	@media (min-width: $screen-xl-min) {

	}
}

.scheduleProgram {
	z-index: 1;
	color: #fff;
	padding-top: 40px;
	position: relative;
	padding-bottom: 50px;
	background: #2c343d;

	.container {
		z-index: 20;
		position: relative;
	}

	h2 {
		color: $color-blue;
	}

	&__row {
		margin: 0 -10px;
	}

	&__col {
		margin-bottom: 40px;
	}

	@media (min-width: $screen-md-min) {


		&__row {
			margin: 0;
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(space-around);
		}

		&__col {
			width: 50%;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__row {
			@include flex-wrap(nowrap);
			@include justify-content(space-between);
		}

		&__col {
			width: 33.33%;
		}
	}

	@media (min-width: $screen-xl-min) {

	}

}

.timetable {
	margin: 0 auto;
	width: 300px;
	position: relative;
	padding: 10px 18px 31px 24px;

	.timetable-border-one {
		top: 0;
		z-index: 1;
		bottom: 0;
		left: 10px;
		right: 10px;
		position: absolute;
		border-top: 2px solid $color-blue;
		border-bottom: 2px solid $color-blue;

		&:after {
			top: 2px;
			right: -12px;
			z-index: 5;
			width: 14px;
			height: 4px;
			content: '';
			display: block;
			position: absolute;
			background: $color-blue;
			@include rotate(45deg);
		}

		&:before {
			bottom: 2px;
			left: -12px;
			z-index: 5;
			width: 14px;
			height: 4px;
			content: '';
			display: block;
			position: absolute;
			background: $color-blue;
			@include rotate(45deg);
		}
	}

	.timetable-border-two {
		left: 0;
		right: 0;
		z-index: 1;
		top: 10px;
		bottom: 10px;
		position: absolute;
		border-left: 2px solid $color-blue;
		border-right: 2px solid $color-blue;


		&:after,
		&:before {
			z-index: 1;
			width: 14px;
			height: 2px;
			content: '';
			display: block;
			position: absolute;
			background: $color-blue;
			@include rotate(-45deg);
		}

		&:after {
			bottom: -5px;
			right: -4px;
		}

		&:before {
			top: -5px;
			left: -4px;
		}
	}

	.timetable-angle-top {
		top: 0;
		right: 0;
		z-index: 5;
		width: 220px;
		height: 28px;
		display: block;
		position: absolute;

		&:after {
			left: 0;
			top: -1px;
			right: 9px;
			content: '';
			height: 4px;
			position: absolute;
			background: $color-blue;
		}

		&:before {
			right: -1px;
			top: 9px;
			bottom: 0;
			content: '';
			width: 4px;
			position: absolute;
			background: $color-blue;
		}
	}

	.timetable-angle-bottom {
		bottom: 0;
		left: 0;
		z-index: 5;
		width: 220px;
		height: 28px;
		display: block;
		position: absolute;

		&:after {
			right: 0;
			bottom: -1px;
			left: 9px;
			content: '';
			height: 4px;
			position: absolute;
			background: $color-blue;
		}

		&:before {
			left: -1px;
			bottom: 9px;
			top: 0;
			content: '';
			width: 4px;
			position: absolute;
			background: $color-blue;
		}
	}

	&__content {
		z-index: 50;
		position: relative;
	}

	&__header {
		position: relative;
		margin-bottom: 15px;
		font-size: 0.875rem;
		line-height: 1.25rem;
		background: $color-blue;
		padding: 15px 20px 15px 55px;

		&:after {
			top: 0;
			right: 0;
			z-index: 10;
			content: '';
			position: absolute;
			border: 5px solid transparent;
			border-top: 5px solid #2c343d;
			border-right: 5px solid #2c343d;
		}

		&:before {
			right: 0;
			bottom: 0;
			z-index: 10;
			content: '';
			position: absolute;
			border: 5px solid transparent;
			border-right: 5px solid #2c343d;
			border-bottom: 5px solid #2c343d;
		}

		&_icon {
			top: 0;
			left: -18px;
			width: 61px;
			height: 53px;
			position: absolute;
		}

		h4 {
			margin: 0;
			color: #fff;
			font-weight: 400;
			font-size: 1.125rem;
			line-height: 1.25rem;
			font-family: $font-head;
		}

		span {
			color: #000;
			display: block;
		}
	}

	&__table {
		width: 100%;
		margin-bottom: 20px;
		font-size: 0.875rem;
		line-height: 1.25rem;
		border-collapse: collapse;

		th {
			padding: 5px 0;
			font-weight: 400;
			color: $color-blue;
			border-bottom: 1px solid $color-blue;
		}

		td {
			color: #fff;
			padding: 5px 8px;
			border-bottom: 1px solid $color-blue;
		}
	}

	&__price {
		text-align: center;
		color: $color-blue;
		font-size: 0.875rem;
		line-height: 1.25rem;
		margin-bottom: 20px;
		font-family: $font-head;

		span {
			display: block;
		}

		strong {
			display: block;
			font-weight: 400;
			font-size: 1.125rem;
		}
	}

	.btn {
		width: 100%;

		&__wrap {
			padding-left: 5px;
			padding-right: 5px;
		}
	}
}

.myTooltip {
	top: -50px;
	left: 100%;
	z-index: 1000;
	color: #fff;
	width: 290px;
	display: none;
	text-align: left;
	padding: 10px 0 10px 10px;
	font-size: 0.8125rem;
	line-height: 1rem;
	position: absolute;
	background-size: cover;

	&:before {
		top: 50px;
		left: 4px;
		width: 6px;
		height: 19px;
		content: '';
		display: block;
		position: absolute;
		background: url("../img/tooltip_arrow.png") 0 0 no-repeat;
	}

	&__content {
		padding: 10px 20px;
		position: relative;
		background: url("../img/tooltip_bg.png") 50% 50% repeat-y;

		&:after,
		&:before {
			left: 0;
			right: 0;
			z-index: 10;
			height: 10px;
			content: '';
			display: block;
			position: absolute;
			background-image: url("../img/tooltip_border.png");
			background-repeat: no-repeat;
		}

		&:before {
			top: -10px;
			background-position: 50% 0;
		}

		&:after {
			bottom: -10px;
			background-position: 50% -10px;
		}
	}

	p {
		margin-bottom: 15px;
	}

	a {
		color: $color-blue;
		text-decoration: none;

		&:hover {
			color: #ff1212;
		}
	}
}

.myTooltip-box {

	@media (min-width: $screen-lg-min) {

		&:hover {

			.myTooltip {
				display: block;
			}
		}
	}
}