$body-bg:                       #fff;
$color-blue:                    #1fadf1;

$font-base:                     'Open Sans', sans-serif !default;
$font-head:                     'Neuropol';

// Fonts

$font-size-base:                1rem !default;
$font-size-lg:                  ($font-size-base * 1.25) !default;
$font-size-sm:                  ($font-size-base * .875) !default;

$font-weight-base:              400 !default;
$line-height-base:              1.2 !default;

$spacer:                        1rem !default;

$color-base:                    #000;
$color-link:                    #000 !default;

$link-decoration:              underline!default;
$link-hover-decoration:        none!default;


	// layout

$container-sm:                  540px !default;
$container-md:                  750px !default;
$container-lg:                  970px !default;
$container-xl:                  1030px !default;


$gutter:                        30px !default;


$screen-xs-min:                 0;
$screen-sm-min:                 576px !default;
$screen-md-min:                 768px !default;
$screen-lg-min:                 992px !default;
$screen-xl-min:                 1060px !default;


$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
$screen-md-max:              ($screen-xl-min - 1) !default;
