
.btn {
	cursor: pointer;
	min-width: 250px;
	color: $color-blue;
	font-weight: 400;
	font-size: 0.875rem;
	line-height: 1.25rem;
	font-family: $font-head;
	border: none;
	outline: none;
	user-select: none;
	text-align: center;
	position: relative;
	white-space: nowrap;
	background: transparent;
	display: inline-block;
	vertical-align: middle;
	@include transition(.2s);

	&__wrap {
		min-width: 250px;
		position: relative;
		padding: 9px 10px;
		display: inline-block;

		&:after,
		&:before {
			left: 0;
			right: 0;
			height: 0;
			z-index: 5;
			content: '';
			overflow: hidden;
			position: absolute;
			@include transition(.2s);
			background: url("../img/btn__active.png") no-repeat;
		}

		&:after {
			top: 0;
			background-position: 50% 0;
		}

		&:before {
			bottom: 0;
			background-position: 50% -29px;
		}

	}

	&:before {
		top: 9px;
		z-index: 10;
		right: -1px;
		content: '';
		height: 10px;
		width: 4px;
		position: absolute;
		display: inline-block;
		background: $color-blue;
		@include transition(.3s);
	}

	&:after {
		bottom: 9px;
		z-index: 10;
		left: -1px;
		content: '';
		height: 10px;
		width: 4px;
		position: absolute;
		display: inline-block;
		background: $color-blue;
		@include transition(.3s);
	}

	&__borderOne {
		top: 0;
		bottom: 0;
		left: 8px;
		right: 8px;
		position: absolute;
		display: inline-block;
		border-top: 2px solid $color-blue;
		border-bottom: 2px solid $color-blue;

		&:before {
			top: 2px;
			left: -9px;
			width: 11px;
			height: 2px;
			content: '';
			position: absolute;
			background: $color-blue;
			@include rotate(-45deg);
		}

		&:after {
			top: 1px;
			right: -9px;
			width: 12px;
			height: 4px;
			content: '';
			position: absolute;
			background: $color-blue;
			@include rotate(45deg);
		}

		span {
			top: -3px;
			right: 0;
			width: 17px;
			height: 4px;
			position: absolute;
			display: inline-block;
			background: $color-blue;
			@include transition(.3s);

			&:before {
				top: 4px;
				left: -9px;
				width: 11px;
				height: 4px;
				@include rotate(-45deg);
			}

			&:after {
				top: 9px;
				z-index: 10;
				left: -9px;
				height: 6px;
				width: 4px;
			}

			&:after,
			&:before {
				opacity: 0;
				content: '';
				z-index: 10;
				visibility: hidden;
				position: absolute;
				display: inline-block;
				background: $color-blue;
				@include transition-delay(0s);
			}
		}
	}

	&__borderTwo {
		left: 0;
		right: 0;
		top: 8px;
		bottom: 8px;
		position: absolute;
		display: inline-block;
		border-left: 2px solid $color-blue;
		border-right: 2px solid $color-blue;

		&:before {
			bottom: -5px;
			left: -2px;
			width: 11px;
			height: 4px;
			content: '';
			position: absolute;
			background: $color-blue;
			@include rotate(45deg);
		}

		&:after {
			bottom: -4px;
			right: -3px;
			width: 11px;
			height: 2px;
			content: '';
			position: absolute;
			background: $color-blue;
			@include rotate(135deg);
		}

		span {
			bottom: -9px;
			left: 7px;
			width: 17px;
			height: 4px;
			position: absolute;
			display: inline-block;
			background: $color-blue;
			@include transition(.3s);

			&:after,
			&:before {
				opacity: 0;
				content: '';
				z-index: 10;
				visibility: hidden;
				position: absolute;
				display: inline-block;
				background: $color-blue;
				@include transition-delay(0s);
			}

			&:before {
				bottom: 4px;
				right: -10px;
				width: 12px;
				height: 4px;
				@include rotate(-45deg);
			}

			&:after {
				bottom: 9px;
				right: -10px;
				height: 6px;
				width: 4px;
			}
		}
	}

	&:hover {
		color: $color-blue;
		text-decoration: none;
		background: transparent;

		&:after,
		&:before {
			height: 6px;
			@include transition(.3s);
		}

		.btn__borderOne {

			span {
				width: 100%;
				@include transition(.3s);

				&:after,
				&:before {
					opacity: 1;
					visibility: visible;
					@include transition-delay(0.3s);
				}
			}
		}

		.btn__borderTwo {

			span {
				width: calc(100% - 14px);
				@include transition(.3s);

				&:after,
				&:before {
					opacity: 1;
					visibility: visible;
					@include transition-delay(0.3s);
				}
			}
		}

	}

	&:active {
		color: #fff;

		.btn__wrap {

			&:after,
			&:before {
				height: 10px;
				@include transition(.2s);
			}
		}

		.btn__borderOne {

			span {
				width: 100%;
				@include transition(.3s);

				&:after,
				&:before {
					opacity: 1;
					visibility: visible;
					@include transition-delay(0.3s);
				}
			}
		}

		.btn__borderTwo {

			span {
				width: calc(100% - 14px);
				@include transition(.3s);

				&:after,
				&:before {
					opacity: 1;
					visibility: visible;
					@include transition-delay(0.3s);
				}
			}
		}
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}

.btn-white {

	&:active {
		color: #000;
	}
}


.btn-cart {
	cursor: pointer;
	width: 60px;
	border: none;
	outline: none;
	font-size: 0;
	line-height: 0;
	user-select: none;
	text-align: center;
	position: relative;
	white-space: nowrap;
	display: inline-block;
	vertical-align: middle;
	background: transparent;
	@include transition(.2s);

	&:before {
		top: 9px;
		z-index: 10;
		right: -1px;
		content: '';
		height: 10px;
		width: 4px;
		position: absolute;
		display: inline-block;
		background: $color-blue;
		@include transition(.3s);
	}

	&:after {
		bottom: 9px;
		z-index: 10;
		left: -1px;
		content: '';
		height: 10px;
		width: 4px;
		position: absolute;
		display: inline-block;
		background: $color-blue;
		@include transition(.3s);
	}

	.btn-cart-wrap {
		width: 60px;
		position: relative;
		padding: 8px 8px;
		display: inline-block;

		&:after,
		&:before {
			left: 5px;
			right:5px;
			height: 0;
			z-index: 5;
			content: '';
			overflow: hidden;
			position: absolute;
			@include transition(.2s);
			background: url("../img/btn__active.png") no-repeat;
		}

		&:after {
			top: 0;
			background-position: 50% 0;
		}

		&:before {
			bottom: 0;
			background-position: 50% -29px;
		}

	}

	.btn-cart-icon {
		width: 22px;
		height: 22px;
		display: inline-block;
	}

	.btn-cart-borderOne {
		top: 0;
		bottom: 0;
		left: 8px;
		right: 8px;
		position: absolute;
		display: inline-block;
		border-top: 2px solid $color-blue;
		border-bottom: 2px solid $color-blue;

		&:before {
			top: 2px;
			left: -9px;
			width: 11px;
			height: 2px;
			content: '';
			position: absolute;
			background: $color-blue;
			@include rotate(-45deg);
		}

		&:after {
			top: 1px;
			right: -9px;
			width: 12px;
			height: 4px;
			content: '';
			position: absolute;
			background: $color-blue;
			@include rotate(45deg);
		}

		span {
			top: -3px;
			right: 0;
			width: 17px;
			height: 4px;
			position: absolute;
			display: inline-block;
			background: $color-blue;
			@include transition(.3s);

			&:before {
				top: 4px;
				left: -9px;
				width: 11px;
				height: 4px;
				@include rotate(-45deg);
			}

			&:after {
				top: 9px;
				z-index: 10;
				left: -9px;
				height: 6px;
				width: 4px;
			}

			&:after,
			&:before {
				opacity: 0;
				content: '';
				z-index: 10;
				visibility: hidden;
				position: absolute;
				display: inline-block;
				background: $color-blue;
				@include transition-delay(0s);
			}
		}
	}

	.btn-cart-borderTwo {
		left: 0;
		right: 0;
		top: 8px;
		bottom: 8px;
		position: absolute;
		display: inline-block;
		border-left: 2px solid $color-blue;
		border-right: 2px solid $color-blue;

		&:before {
			bottom: -5px;
			left: -2px;
			width: 11px;
			height: 4px;
			content: '';
			position: absolute;
			background: $color-blue;
			@include rotate(45deg);
		}

		&:after {
			bottom: -4px;
			right: -3px;
			width: 11px;
			height: 2px;
			content: '';
			position: absolute;
			background: $color-blue;
			@include rotate(135deg);
		}

		span {
			bottom: -9px;
			left: 7px;
			width: 17px;
			height: 4px;
			position: absolute;
			display: inline-block;
			background: $color-blue;
			@include transition(.3s);

			&:after,
			&:before {
				opacity: 0;
				content: '';
				z-index: 10;
				visibility: hidden;
				position: absolute;
				display: inline-block;
				background: $color-blue;
				@include transition-delay(0s);
			}

			&:before {
				bottom: 4px;
				right: -10px;
				width: 12px;
				height: 4px;
				@include rotate(-45deg);
			}

			&:after {
				bottom: 9px;
				right: -10px;
				height: 6px;
				width: 4px;
			}
		}
	}

	.ico-svg {
		fill: $color-blue;
	}

	&:hover {
		color: $color-blue;
		text-decoration: none;
		background: transparent;

		&:after,
		&:before {
			height: 6px;
			@include transition(.3s);
		}

		.btn-cart-borderOne {

			span {
				width: 100%;
				@include transition(.3s);

				&:after,
				&:before {
					opacity: 1;
					visibility: visible;
					@include transition-delay(0.3s);
				}
			}
		}

		.btn-cart-borderTwo {

			span {
				width: calc(100% - 14px);
				@include transition(.3s);

				&:after,
				&:before {
					opacity: 1;
					visibility: visible;
					@include transition-delay(0.3s);
				}
			}
		}

		.ico-svg {
			fill: #fff;
		}
	}

	&:active {
		color: #fff;

		.btn-cart-wrap {

			&:after,
			&:before {
				height: 7px;
				@include transition(.2s);
			}
		}

		.btn-cart-borderOne {

			span {
				width: 100%;
				@include transition(.3s);

				&:after,
				&:before {
					opacity: 1;
					visibility: visible;
					@include transition-delay(0.3s);
				}
			}
		}

		.btn-cart-borderTwo {

			span {
				width: calc(100% - 14px);
				@include transition(.3s);

				&:after,
				&:before {
					opacity: 1;
					visibility: visible;
					@include transition-delay(0.3s);
				}
			}
		}

		.ico-svg {
			fill: #fff;
		}
	}
}