.form-control {
	margin: 0;
	width: 100%;
	border: none;
	outline: none;
	padding: 9px 0;
	cursor: pointer;
	overflow: hidden;
	color: #191919;
	position: relative;
	font-size: 1rem;
	line-height: 1.25rem;
	text-decoration: none;
	display: inline-block;
	background: transparent;
	border-bottom: 2px solid $color-blue;
	@include placeholder(#191919);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		color: $color-blue;
		@include placeholder(transparent);
	}
}

.form-control-white {
	color: #fff;
	@include placeholder(#fff);

	&:focus {
		color: $color-blue;
		@include placeholder(transparent);
	}
}

.form-control-xs {
	width: 42px;
}

.form-select {
	margin: 0;
	width: 100%;
	border: none;
	outline: none;
	padding: 9px 0;
	cursor: pointer;
	overflow: hidden;
	color: #191919;
	position: relative;
	font-size: 1rem;
	line-height: 1.25rem;
	text-decoration: none;
	display: inline-block;
	background: transparent;
	border-bottom: 2px solid $color-blue;

	-webkit-appearance: none;
	background-image: url('../img/select__arrow.png');
	background-position: 100% 16px;
	background-repeat: no-repeat;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	-ms-appearance: none;
	appearance: none!important;

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}


	&::-ms-expand {
		display: none;
	}

	&:hover,
	&:focus {
		background-position: 100% -66px;
	}
}


.form-radio {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.25rem;
	display: inline-block;

	input[type="radio"] {
		display: none;
	}

	span {
		position: relative;
		display: inline-block;
		padding: 1px 0 1px 36px;

		&:before {
			top: 0;
			left: 0;
			content: '';
			width: 26px;
			height: 22px;
			position: absolute;
			display: inline-block;
			background: url("../img/icon__radio.png") 0 -22px no-repeat;
		}
	}

	input[type="radio"]:checked + span {

		&:before {
			background-position: 0 0;
		}
	}
}

.radio-group {
	padding: 8px 0;

	.form-radio {
		margin-right: 20px;

		&:last-child {
			margin-right: 0;
		}
	}
}

.form-group {
	margin-bottom: 10px;
	@include clearfix();
}

.form-label {
	font-weight: 400;
	padding: 9px 0;
	color: #828383;
	display: block;
	font-size: 1rem;
	line-height: 1.25rem;
}